/*! changing default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
}

/*! form */
form { /* form tag */
  max-width: 400px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* 20% opacity */
  padding: 50px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

form > div > input { /* parent > children */
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
}

label {
  display: block; /* changing code to block instead of inline */
  margin-bottom: 5px;
}

form div {
  position: relative; /* placement important, parent div */
  margin-bottom: 15px;
}
/*! for selected input fields */
input:focus {
  border: 2px solid #f2796e;
}
/*! form icons */
form div i {
  position: absolute;
  padding: 10px;
}
.success-icon, 
.failure-icon {
  right: 0;
  opacity: 0; /* change icons in js (opacity 0%) */
}

.failure-icon, 
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14px;
  margin-top: 5px;
}

/*! button */
button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #f2796e;
  border: 2px solid #f2796e;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
  transition: all 0.1s ease; /* hover effect */

}

button:hover {
  opacity: 0.8;
}
